roboscoop/roboscoop_lib/EIFGENs/
roboscoop/fts_lib/EIFGENs/
roboscoop/robot_controller/EIFGENs/
roboscoop/path_planner/EIFGENs/
roboscoop/mission_planner/EIFGENs/
roboscoop/thymio_app/EIFGENs/
*.swp
*~
