<launch>
    <!-- Wireless ThymioII setup -->
    <include file="$(find roboscoop_ros)/launch/wireless_thymio.launch" />

    <!-- Map Launch -->
    <arg name="map_file" default="$(find thymio_launcher)/map/testenvironment.yaml" />
    <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

    <!-- RViz Launcher -->
    <arg name="config_file" default="$(find thymio_launcher)/config/project.rviz" />
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg config_file)" />

    <!-- Tfs -->
    <!--<node pkg="tf" type="static_transform_publisher" name="odometry_link_map_broadcaster" args="0.0 0.0 0.0 0.0 0.0 0.0 odometry_link map 10" />-->
    <node pkg="tf" type="static_transform_publisher" name="camera_link_base_broadcaster" args="0.0 0.0 0.14 0.0 0.0 0.0 base_link camera_link 10" />
    <include file="$(find rgbd_launch)/launch/kinect_frames.launch" />

    <!-- Object recognition Launcher -->
    <rosparam command="load" file="$(find object_recognition)/parameters/object_recognition_parameters.yaml" />
    <rosparam command="load" file="$(find object_recognition)/parameters/categories.yaml" />
    <rosparam command="load" file="$(find object_recognition)/parameters/topics.yaml" />

    <node name="spin_recognition" pkg="object_recognition" type="spin_recognition" output="screen" />

    <!-- Localization Launcher -->
    <include file="$(find localization)/launch/localization.launch" />
</launch>
