<launch>
	<rosparam command="load" file="$(find localization)/parameters/topics_parameters/topics_parameters.yaml" ns="topics"/>
	<rosparam command="load" file="$(find localization)/parameters/localizer_parameters/algorithm_parameters.yaml" ns="localizer/algorithm"/>
	<rosparam command="load" file="$(find localization)/parameters/localizer_parameters/motion_updater_parameters.yaml" ns="localizer/motion_updater"/>
	<rosparam command="load" file="$(find localization)/parameters/localizer_parameters/sensor_updater_parameters.yaml" ns="localizer/sensor_updater"/>
	<rosparam command="load" file="$(find localization)/parameters/localizer_parameters/resampler_parameters.yaml" ns="localizer/resampler"/>
	<rosparam command="load" file="$(find localization)/parameters/localizer_parameters/other_parameters.yaml" ns="localizer/others"/>

	<node name="scan_remapper" pkg="localization" type="scan_remapper" output= "screen" />
	<node name="localization" pkg="localization" type="localization" clear_params="true" output= "screen" />
</launch>
